/* .div{
    font-size: 40px;
    animation: spin 2s linear infinite;
    color: rgb(15, 135, 227);
}
 @keyframes spin{
0% { transform: rotate(0deg);}
100% {transform: rotate(100deg);}
}

@keyframes pulse{
   0% {transform: scale(1); opacity: 1;}
   50% {transform: scale(1.2); opacity: 0.8;}
   100% {transform: scale(1); opacity: 1;}
} 

/* @keyframes pulse{
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(1.2); opacity: 0.8;}
    100% {transform: scale(1); opacity: 1;}
} */



.div{
    font-size: 40px;
    color: rgb(15, 135, 227);
}
.fa-spinner{
    animation: spinner 2s ease infinite;
    width: 50px;
}

@keyframes spinner{
    /* 0% { transform: rotate(0deg);} */
    /* 100% {transform: rotate(360deg);} */
   100%  {transform: rotate(360deg);}
    }